<!DOCTYPE html>
<html>

  <head>
    <title>DB page</title>
    <% include ../../Components/header.ejs %>
  </head>

  <body>

    <% include ../../Components/navbar.ejs %>

      <div class="container">
        <h2>Database Results</h2>

        <ul>
          <% data.forEach(function(record) { %>
            <li>
              <%= record.id %> - <%= record.nome %>
            </li>
            <% }); %>
        </ul>

      </div>

  </body>

</html>
