<!DOCTYPE html>
<html>

  <head>
    <% include ../../components/header.ejs %>
  </head>

  <body>

    <% include ../../components/navbar.ejs %>

      <div class="container">
        <h3>Risultati</h3>
        <% data.forEach(function(videoObject) { %>
          <div class="row">
            <div class="col-lg-8">
              <%if (videoObject.id.kind == "youtube#video") { %>
                <iframe class = "panal-body" id="ytplayer" type="text/html" width="750" height="500" src="http://www.youtube.com/embed/<%= videoObject.id.videoId %>?autoplay=0" frameborder="0" /></iframe>
                <% } %>
                  <div class="panel panel-default">
                    <div class="panel-heading">Video Info</div>
                    <div class="panel-body"><%= videoObject.snippet.description %></div>
                  </div>
              <%if (videoObject.id.kind == "youtube#channel") { %>
                <img src="<%= videoObject.snippet.thumbnails.default.url %>" />
                <br />
                <% } %>
          </div>
            <div class="col-lg-4">
              <%if (videoObject.id.kind == "youtube#channel") { %>
                <p>questo è un canale</p>
                <% } %>
                  <%if (videoObject.id.kind == "youtube#video") { %>
                    <% } %>
            </div>
          </div>
          <% }); %>
      </div>

  </body>


</html>
