<!DOCTYPE html>
<html>

  <head>
    <% include ../../components/header.ejs %>
  </head>

  <body>

    <% include ../../components/navbar.ejs %>

      <div class="container">
        <h2>Video List</h2>
        <% data.forEach(function(videoObject) { %>
          <div class="row">
            <div class="col-lg-8">
              <%if (videoObject.id.kind == "youtube#video") { %>
                <iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/<%= videoObject.id.videoId %>?autoplay=0" frameborder="0" /></iframe>
                <% } %>
                <div class="panel panel-primary">
                  <div class="panel-heading">Video Info</div>
                  <div class="panel-body" ><%= videoObject.snippet.description %></div>
                </div>
              <%if (videoObject.id.kind == "youtube#channel") { %>
                <img src="<%= videoObject.snippet.thumbnails.default.url %>" />
                <br />
                <% } %>
            </div>
            <div class="col-lg-4">
              <%if (videoObject.id.kind == "youtube#channel") { %>
                <p>questo è un canale</p>
                <% } %>
                  <%if (videoObject.id.kind == "youtube#video") { %>
                    <p>
                      <br /><br /><br /><br />
                      <%= videoObject.snippet.description %>
                    </p>
                    <% } %>
            </div>
          </div>
          <% }); %>
      </div>

  </body>


</html>
