<!DOCTYPE html>
<html>

  <head>
    <% include ../../components/header.ejs %>
  </head>

  <body>

    <% include ../../components/navbar.ejs %>

      <div class="container">
        <h2>Video List</h2>
        <% data.forEach(function(record) { %>
          <div class="row">
            <div class="col-lg-8">
              <%if (record.id.kind == "youtube#video") { %>
                <iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/<%= record.id.videoId %>?autoplay=0" frameborder="0" /></iframe>
                <% } %>
                  <%if (record.id.kind == "youtube#channel") { %>
                    <img src="<%= record.snippet.thumbnails.default.url %>" />
                    <br />
                    <% } %>
            </div>
            <div class="col-lg-4">
              <%if (record.id.kind == "youtube#channel") { %>
                <p>questo è un canale</p>
                <% } %>
                  <%if (record.id.kind == "youtube#video") { %>
                    <p>
                      <br /><br /><br /><br />
                      <%= record.snippet.description %>
                    </p>
                    <% } %>
            </div>
          </div>
          <% }); %>
      </div>

  </body>


</html>
