<!DOCTYPE html>
<html>

  <head>
    <% include ../../Components/header.ejs %>
  </head>

  <body>

    <% include ../../Components/navbar.ejs %>

      <div class="container">
        <h2>Database Results</h2>

        <iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/<%= videoId %>?autoplay=1" frameborder="0" />

      </div>

  </body>

</html>
