<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home</title>
    <% include ../../Components/header.ejs %>
  </head>

  <body id="body" class="body-wrapper boxed-menu">
    <div class="main-wrapper">
      <% include ../../Components/preloader.ejs %>
        <% include ../../Components/navbar.ejs %>
          
        <ul>
          <% data.forEach(function(elemento) { %>
            <li>
              <%= elemento.nome %> - <%= elemento.cognome %>
            </li>
            <% }); %>
        </ul>

        <% include ../../Components/footer.ejs %>
    </div>
    <% include ../../Components/footer-import.ejs %>
  </body>

</html>
