<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <% include ../../components/header.ejs %>
</head>

<body id="body" class="body-wrapper boxed-menu">
  <div class="main-wrapper">
    <% include ../../components/preloader.ejs %>
    <% include ../../components/navbar.ejs %>

    <!-- TODO: fix role and description + image size --> 

    <section class="user-profile-section bg-light">
      <div class="container">
        <div class="user-profile">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="user-img">
                <img class="aboutUs-profile-image" src="/assets/img/images/Alma-mater-Unibo.jpg" alt="User Image">
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="user-profile-content aboutUs-profile-image">
                <h3 class="user-name">Matteo Conti</h3>
                <span class="designation">Developer</span>
                <p>Director and developer of MED team. Main flow of the entire application. Back-end and Database. </p>
                <ul class="user-contact-details">
                  <li><i class="fa fa-github aboutUs-icon-size" aria-hidden="true"></i><a href="https://github.com/contimatteo" target="_blank">Git Profile</a></li>
                </ul>
                <!-- <div class="verified-user"><i class="fa fa-user-o" aria-hidden="true"></i> veryfied account</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="user-profile">
          <div class="row" >
            <div class="col-xs-12 col-sm-4">
              <div class="user-img">
                <img class="aboutUs-profile-image" src="/assets/img/images/Alma-mater-Unibo.jpg" alt="User Image">
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="user-profile-content aboutUs-profile-image">
                <h3 class="user-name">Dario Campomori</h3>
                <span class="designation">Rookie</span>
                <p>Recommenders and API.</p>
                <ul class="user-contact-details">
                  <li><i class="fa fa-github aboutUs-icon-size" aria-hidden="true"></i><a href="https://github.com/LessMathMoreMeth" target="_blank">Git Profile</a></li>
                </ul>
                <!-- <div class="verified-user"><i class="fa fa-user-o" aria-hidden="true"></i> veryfied account</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="user-profile">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="user-img">
                <img class="aboutUs-profile-image" src="/assets/img/images/Alma-mater-Unibo.jpg" alt="User Image">
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="user-profile-content aboutUs-profile-image">
                <h3 class="user-name">Enrico Fabbri</h3>
                <span class="designation">Rookie</span>
                <p>View, rutes and controllers.</p>
                <ul class="user-contact-details">
                  <li><i class="fa fa-github aboutUs-icon-size" aria-hidden="true"></i><a href="https://github.com/EnricoMariaFabbri" target="_blank">Git Profile</a></li>
                </ul>
                <!-- <div class="verified-user"><i class="fa fa-user-o" aria-hidden="true"></i> veryfied account</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ../../components/footer.ejs %>
	</div>
	<% include ../../components/footer-import.ejs %>
</body>