<footer style="background-image: url(/assets/img/background/footer.jpg); background-position-y: 200px;">
  <!-- FOOTER INFO -->
  <div class="clearfix footerInfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="footerText">
            <a href="/" class="footerLogo">
              <img class="logo-svg" style="width:75px; margin-top: -10px;" src="/assets/img/logo.png" />
            </a>
            <p style="font-style: italic;">
              Senza la musica per decorarlo, il 
              
              tempo sarebbe solo una noiosa 
              <br>
              sequela di scadenze produttive e di 
              
              date in cui pagare le bollette.
            </p>
            <p style="margin-bottom:0px;">Frank Zappa</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerInfoTitle">
            <h4>Videos</h4>
          </div>
          <div class="useLink">
            <ul class="list-unstyled">
              <li class=""><a href="/suggestioned">Vitali</a></li>
              <li class=""><a href="/videos/search">Suggestioned</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="footerInfoTitle">
              <h4>Pages</h4>
            </div>
            <div class="useLink">
              <ul class="list-unstyled">
                <li class="active"><a href="/">Home</a></li>
                <li class=""><a href="/about-us">About Us</a></li>
                <li><a href="/globpop?id=YYYYYYY">Recommender</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- COPY RIGHT -->
  <div class="clearfix copyRight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyRightWrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="copyRightText">
                  <p style="text-align:center;">
                    Copyright © 2018. All Rights Reserved by <a href="/about-us">MED Team</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>