<!-- FOOTER
<footer class="footerWhite">
  <div class="clearfix footerInfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <div class="footerText">
            <a href="index.html" class="footerLogo">
                <img class="logo-svg" style="width:75px; margin-top: -10px;" src="/assets/img/logo.png"/>
                </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor</p>
            <ul class="list-styled list-contact">
              <li><i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@listy.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerInfoTitle">
            <h4>Links</h4>
          </div>
          <div class="useLink">
            <ul class="list-unstyled">
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="sign-up.html">Create Account</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="add-listings.html">Add Listing</a></li>
              <li><a href="edit-listings.html">Edit Listing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="footerInfoTitle">
            <h4>Company</h4>
          </div>
          <div class="useLink">
            <ul class="list-unstyled">
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="terms-of-services.html">Terms and Conditions</a></li>
              <li><a href="how-it-works.html">How It Works</a></li>
              <li><a href="payment-process.html">Payment</a></li>
              <li><a href="pricing-table.html">Pricing</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer style="background-image: url(/assets/img/background/footer.jpg);">
  <!-- FOOTER INFO -->
  <div class="clearfix footerInfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <div class="footerText">
            <a href="/" class="footerLogo">
              <img class="logo-svg" style="width:75px; margin-top: -10px;" src="/assets/img/logo.png" />
            </a>
            <p>Senza la musica per decorarlo, il tempo sarebbe solo una noiosa sequela <br>
              di scadenze produttive e di date in cui pagare le bollette.</p>
            <ul class="list-styled list-contact">
              <li><i class="fa fa-book" aria-hidden="true"></i>Frank Zappa</li>
              <!-- <li><i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@listy.com</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerInfoTitle">
            <h4>User</h4>
          </div>
          <div class="useLink">
            <ul class="list-unstyled">
              <li><a href="/signup">Create Account</a></li>
              <li><a href="/signin">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="footerInfoTitle">
            <h4>Pages</h4>
          </div>
          <div class="useLink">
            <ul class="list-unstyled">
              <li class="active"><a href="/">Home</a></li>
              <li class=""><a href="/videos/search">Search</a></li>
              <li class=""><a href="/videos/search">Suggestioned</a></li>
              <li class=""><a href="/videos/search">Playlists</a></li>
              <li class=""><a href="/suggestioned">Vitali</a></li>
              <li class=""><a href="/aboutUs">About-Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COPY RIGHT -->
  <!-- <div class="clearfix copyRight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyRightWrapper">
            <div class="row">
              <div class="col-sm-5 col-sm-push-7 col-xs-12">
                <ul class="list-inline socialLink">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                <div class="copyRightText">
                  <p>Copyright © 2017. All Rights Reserved by <a href="#">Abdus</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->
</footer>