<header id="pageTop" class="header">

  <div class="nav-wrapper">
    <nav id="menuBar" class="navbar navbar-default transparent-navbar" role="navigation" style="opacity: 1;">
      <% include ./partials/navbar-content.ejs %>
    </nav>
  </div>
</header>