<header id="pageTop" class="header">
  <div class="nav-wrapper" style="height: 92px;">
    <nav id="menuBar" class="navbar navbar-default transparent-navbar" role="navigation" style="opacity: 1;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="logo-svg" style="width:75px; margin-top: -10px;" src="/assets/img/logo_bianco.png" />
          </a>
        </div>
        <% include ./partials/navbar-content.ejs %>
    </nav>
  </div>
</header>