<header id="pageTop" class="header">

  <div class="nav-wrapper navbarWhite">
    <nav id="menuBar" class="navbar navbar-default lightHeader " role="navigation">
      <% include ./partials/navbar-content.ejs %>
    </nav>
  </div>
</header>