<header id="pageTop" class="header">

  <!-- TOP INFO BAR -->

  <div class="nav-wrapper navbarWhite">
    <!-- NAVBAR -->
    <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="logo-svg" style="width:75px; margin-top: -10px;" src="/assets/img/logo.png"/>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active dropdown singleDrop">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a class="" href="index.html">Home Map</a></li>
                <li><a class="" href="index-2.html">Home Travel</a></li>
                <li><a class="" href="index-3.html">Home Automobile</a></li>
                <li><a class="active" href="index-4.html">Home City</a></li>
              </ul>
            </li>
            <li class=" dropdown megaDropMenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listing <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="row dropdown-menu">
                <li class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li>
                      <h5>listing Grids</h5></li>
                    <li><a href="category-grid.html">Listing Grid Left</a></li>
                    <li><a href="category-grid-right.html">Listing Grid Right</a></li>
                    <li><a href="category-grid-full.html">Listing Grid Fullwidth</a></li>
                    <li>
                      <h5>listing lists</h5></li>
                    <li><a href="category-list-left.html">Listing list Left</a></li>
                    <li><a href="category-list-right.html">Listing list Right</a></li>
                    <li><a href="category-list-full.html">Listing list Full</a></li>
                  </ul>
                </li>
                <li class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li>
                      <h5>listing Sidebar Map</h5></li>
                    <li><a href="listing-sidebar-map-left.html">Listing Sidebar Map left</a></li>
                    <li><a href="listing-sidebar-map-right.html">Listing Sidebar Map right</a></li>
                    <li><a href="listing-sidebar-map-full.html">Listing Sidebar Map Full</a></li>
                    <li>
                      <h5>listing Details</h5></li>
                    <li><a href="listing-details-left.html">Listing Details Left</a></li>
                    <li><a href="listing-details-right.html">Listing Details Right</a></li>
                    <li><a href="listing-details-full.html">Listing Details Full</a></li>
                  </ul>
                </li>
                <li class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li class="mega-img">
                      <a href=""><img src="/assets/img/works/works-big-3.png" alt=""></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class=" dropdown singleDrop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="terms-of-services.html">Terms and Conditions</a></li>
                <li><a href="sign-up.html">Create Account</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="pricing-table.html">Pricing</a></li>
                <li><a href="payment-process.html">Payment</a></li>
                <li><a href="how-it-works.html">How It Works</a></li>
                <li><a href="user-profile.html">User Profile</a></li>
                <li><a href="comming-soon.html">Coming Soon</a></li>
                <li><a href="404-page.html">404 Page</a></li>
              </ul>
            </li>
            <li class=""><a href="blog.html">blog </a></li>
            <li class=" dropdown singleDrop">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="add-listings.html">Add Listing</a></li>
                <li><a href="edit-listings.html">Edit Listing</a></li>
                <li><a href="booking-list.html">Booking List</a></li>
                <li><a href="dashboard-reviews.html">Reviews</a></li>
                <li><a href="listings.html">My Listings</a></li>
                <li><a href="profile.html">My Profile</a></li>
                <li><a href="oders.html">My Orders</a></li>
                <li><a href="sign-up.html">Create Account</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="index.html">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!--<a class="btn btn-default navbar-btn" href="add-listings.html"> + <span>Add Listing</span></a>-->
      </div>
    </nav>
  </div>
</header>
