<!-- Preloader -->
<div id="preloader" class="smooth-loader-wrapper">
  <div class="smooth-loader">
    <div class="loader1">
      <div class="loader-target">
        <div class="loader-target-main"></div>
        <div class="loader-target-inner"></div>
      </div>
    </div>
  </div>
</div>
