
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="active dropdown singleDrop">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
      </li>
      <li class=" dropdown megaDropMenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cerca</a>
      </li>
      <li class=" dropdown singleDrop">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu dropdown-menu-left">
          <li><a href="contact-us.html">Contact Us</a></li>
          <li><a href="terms-of-services.html">Terms and Conditions</a></li>
          <li><a href="sign-up.html">Create Account</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="pricing-table.html">Pricing</a></li>
          <li><a href="payment-process.html">Payment</a></li>
          <li><a href="how-it-works.html">How It Works</a></li>
          <li><a href="user-profile.html">User Profile</a></li>
          <li><a href="comming-soon.html">Coming Soon</a></li>
          <li><a href="404-page.html">404 Page</a></li>
        </ul>
      </li>
      <li class=""><a href="blog.html">blog </a></li>
      <li class=" dropdown singleDrop">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu dropdown-menu-left">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="add-listings.html">Add Listing</a></li>
          <li><a href="edit-listings.html">Edit Listing</a></li>
          <li><a href="booking-list.html">Booking List</a></li>
          <li><a href="dashboard-reviews.html">Reviews</a></li>
          <li><a href="listings.html">My Listings</a></li>
          <li><a href="profile.html">My Profile</a></li>
          <li><a href="oders.html">My Orders</a></li>
          <li><a href="sign-up.html">Create Account</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="index.html">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <a class="btn btn-default navbar-btn" href="add-listings.html"> + <span>Add Listing</span></a>
</div>