<html>
<head>

</head>
<body>
  <br />
  <pre id="json"><%= json %></pre>
  <br />
</body>
<script>
// var str = JSON.stringify(document.getElementById("json").innerHTML, null, 2); // spacing level = 2
// document.getElementById("json").innerHTML = str;
</script>
</html>
