<!DOCTYPE html>
<html lang="en">
<body>
<div class="images">
  <img src="assets/img/images/god.jpg" alt="" align='left' width="420px" height="410px">
  <img src="assets/img/images/merda.jpg" alt="" align='center' width="420px" height="410px">
  <img src="assets/img/images/pizza.jpg" alt="" align='right'width="420px" height="410px">
</div>
<div class="text">
  <p style:'align=left'>Matteo Aka God </p>
  <p style:'align=middle'>Enrico Aka La merda</p>
  <p style:'align=right'>Diri Aka porta pizze</p>
</div>

</body>
